<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Students</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">
<div class="container py-4">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="alert">
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <h2 class="text-center mb-4">Student Records</h2>
    <div class="mb-3">
        <a href="/dashboard" class="btn btn-secondary">
            Dashboard
        </a>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped align-middle">
            <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>Roll No</th>
                    <th>Department</th>
                    <th>Gender</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Blood Group</th>
                    <th>Parent Contact</th>
                    <th>Qr Code</th>
                    <th>Action</th>          
                </tr>
            </thead>
            <tbody>

            {% if students %}
                {% for student in students %}
                <tr>
                    <td>{{ student.student_name.upper() }}</td>
                    <td>{{ student.rollno.upper() }}</td>
                    <td>{{ student.department.upper() }}</td>
                    <td>{{ student.gender.upper() }}</td>
                    <td>{{ student.phone }}</td>
                    <td>{{ student.address.upper() }}</td>
                    <td>{{ student.blood_group.upper() }}</td>
                    <td>{{ student.parentnumber }}</td>
                    <td>
                       {% if student.qr_exists %}
                              <img src="{{ url_for('static', filename='qrcodes/' + student.qrcode) }}"
                              width="80"
                             height="80"
                               class="img-thumbnail">
                       {% else %}
                             <span class="text-danger">No QR</span>
                            {% endif %}
                    </td>
                    <td>
                        <a href="/edit_student/{{ student.id }}"
                           class="btn btn-warning btn-sm">
                            Edit
                        </a>
                        <a href="/delete_student/{{ student.id }}"
                           class="btn btn-danger btn-sm"
                           onclick="return confirm('Are you sure you want to delete?')">
                            Delete
                        </a>
                        {% if student.qr_exists %}
                            QR Generated
                        {% else %}
                            <a href="generate_qr/{{student.rollno}}">Generate QR</a>
                        {% endif %}
                    </td>
                </tr>

                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="9" class="text-center">
                        No Students Found
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>